@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to Indicators page to see current indicators and add new ones</p>
    <p>Go to Indicators page to see Average rate of return (ARR) value</p>
    <p>Go to Investments page to setup investments value if not specified</p>
    <h5 class="display-4">Good luck!</h5>
</div>
